<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/views/public/assets/uploadify/uploadify.css" />
    <script src="/views/public/assets/jquery/jquery.js"></script>
    <script src="/views/public/assets/uploadify/jquery.uploadify.js"></script>
</head>

<body>
    <input type="file" class="png">
    <script>
        $('.png').uploadify({
            swf: ''
        })
    </script>
</body>

</html>